<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt5.hook">
    <application android:label="MT5 Text Hook">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription"
            android:value="Replace 'Demo/تجريبي' with 'Live/حقيقي' and force Deposit/Withdraw visible/enabled."/>
        <meta-data android:name="xposedminversion" android:value="93"/>
    </application>
</manifest>
